[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
google-cloud-storage = "*"
datasets = "*"
tqdm = "*"
pandas = "*"
python-dotenv = "*"
pillow = "*"
gcloud = "*"
gsutil = "*"
wandb = "*"
kfp = "*"
google-cloud-aiplatform = "*"

[requires]
python_version = "3.9"
